/* Center everything on the page */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures the content is vertically centered */
  background-color: #f0f0f0;
  padding: 0 20px; /* Add padding to prevent content from touching edges on mobile */
  box-sizing: border-box;
}

.app-title {
  font-size: 2.5rem;
  color: #333;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
  text-align: center;
}
